extends layout.pug

append head
  link(rel='stylesheet' href='/stylesheets/404.css')
block content
  body
    .page
      img(src='https://cdn.discordapp.com/attachments/900537442736680981/901249575757692988/404duck.png' class='errorDuck')
      h1(class='errorMessage') 404: Not Found
