div(id='commentModal' class='comment_modal')
  form(class='comment_modal_content' action=`/comments/${answerId}` method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    div(class='comment_container')
      label(for='comment') Type your comment
      br
      textarea(class="comment_textarea" name='comment' required)
      div(class='comment_eraser')
        button(class='comment_cancelButton' type='button' id='comment_cancelButton') Cancel
        button(class='comment_submitButton' type='submit') Submit
