extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
  //- add page specific js
  script(src="/javascripts/comment.js" type="module" defer)

block content
  div(class="home-container")
    div(class="categories")
      div(class="cat_label") Categories
      a(class='knitting' href='/') Knitting
      a(class="woodworking" href='/') Woodworking
      a(class="drawing" href='/') Drawing
      a(class="sculpture" href='/') Sculpture
      a(class='3dprinting' href='/') 3D Printing
      a(class='calligraphy' href='/') Calligraphy
      a(class="sewing" href='/') Sewing
      a(class="painting" href='/') Painting
    div(class="questions")
      div(class="q_label") Questions
        each question in questions
          +usersQuestion(question)
          div(class="commentsDiv")
            each comment in comments
              +usersComment(comment)
    div(class="tbd")
      div(class="tbd_label") TBD


//- TO DO:
//- Need to make correct href links once the database for categories is created and seeded
//- Not sure if we can put in anything in the questions section until the DB is seeded
//- Should we do an infinite scroll, or would that not be necessary unless we have extra time?
//- query for likes and display like quantity
