extends layout
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
  link(rel="stylesheet" href="/stylesheets/answers.css")
  //- add page specific js
  script(src="/javascripts/comment.js" type="module" defer)

block content
  div(class="home-container")
    div(class="categories")
      div(class="cat_label") Categories
      each category in categories
        +generateCategories(category)
    div(class="questions")
      div(class="q_label")
        each question in questions
          +usersQuestion(question)
          if question.answers.length > 0
            div(class="answer_section")
              +questionAnswers(question.answers[0])
              div(class="commentsDiv" id=`comment_for_answer-${question.answers[0].id}`)
                each comment in question.answers[0].comments
                  +usersComment(comment)
    if user
      div(class="tbd")
              img(class="side_profile" src=(user.profilePhoto || 'https://cdn.discordapp.com/attachments/889944469359718421/900129385720479744/whiteDuck.png') style='width:75px; height:75px;')
              a(href=`/users/${user.id}`) #{user.name}'s Account
