doctype html
html
  head
      block head
        title="DIY Duck App"
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
        script(src="/javascripts/questionModal.js" type="module" defer)
        script(src='/javascripts/likes.js' type='module' defer)
  body
    nav(class='navBar')
      img(src='https://cdn.discordapp.com/attachments/889944469359718421/900129385720479744/whiteDuck.png' class='imgLogo')
      a(class='logo' href='/') DIY Duck
      div
        form(method="post" action="/")
          input(type='hidden' name='_csrf' value=csrfToken)
          input(class='searchBar' type='text' placeholder="Search your question" name="search")
      if locals.authenticated
          span(class='welcome') Welcome #{user.name}!
          form(class='logout' action='/logout' method='post')
            button(class='logoutButton' type='submit') Logout
          button(id='questionButton' class='questionButton' type='submit') Add Question
          include questionModal
      else
          span(class='loginSignUp')
          form(class='demo' action='/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type="hidden" name="email" value="demo@gmail.com")
            input(type="hidden" name="password" value="Demo@123")
            button(class='demoButton' type='submit') Demo
          div
            a(class='login' href='/login') Login
          div
            a(class='signup' href='/signup') SignUp
    block content
