doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DIY Duck Login
    body
        form(action="/login" method="POST")
            div
                label(for="email") Email
                input(type="email" name="email" required=true)
            div
                label(for="password") Password
                input(type="password" name="password" required=true)
            div
                button(type="submit") login
            div
                a(href="/signup") Sign up!
