.answer_section {
display: flex;
flex-direction: column;
align-items: flex-start;
padding-left: 30px;
padding-top:10px ;
}

.answer_body {
    border: solid 1px #c3c8ca;
    border-radius: 10px;
    width: 590px;
    background-color:#f7f7f8;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.answer_head {
    display: flex;
    justify-content: left;

}
.answer_a {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.answer_profile_pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid #939394;
    margin: none;
    padding: none;

}

.answer_header_info {
    display:flex;
    flex-direction: column;
    align-items: flex-start;

 }

.answer_profession_and_date {
    display: flex;
}

.answer_profession {
    font-size: small;
    padding:10px;
}

.answer_date_updated {
    font-size:8px;
    color: grey;

}

.answer_date_updated::before {
    color: grey;
    content: " · ";
    font-size: 15px;
}

.answer_buttons {
    height: 40px;
    display: flex;
    justify-content: left;
    padding: 5px 10px 5px 10px;
}

.answer_username{
    padding-top: 10px;
    padding-left: 10px;
}

.answer_label {
    display: inline-block;
    width: 590px;
    text-align: left;
    font-weight: bold;
    font-size:20px;
    padding-left:10px ;
    padding-top: 10px;
  }

.like_field {

    background-color:#cccccc;
    border-radius:10%;
    /* padding-bottom: 10px; */
}
.like_count {
    padding-top: 5px;
    padding-right: 5px;

}
