body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.navBar {
  background-color:#edf3f6;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  height: 50px;
}

/* .logo */
.searchBar{
  height: 30px;
  width: 425px;
  border-radius: 3em;
  padding: 1em;
  border: 1px solid #999
}

::placeholder {
  margin-left: 10px;
}

.welcome{
  color:#b92b27;
  font-weight: bolder;
  font-size:larger;
}

.logoutButton{
background-color:#b92b27;
color:white;
font-weight: bolder;
padding:10px;
border-radius: 1em;
}

.login {
box-sizing: border-box;
line-height: 1;
background-color:#b92b27;
color:white;
font-weight: bolder;
padding:10px;
border-radius: 1em;
}

.signup {
box-sizing: border-box;
line-height: 1;
background-color:#b92b27;
color:white;
font-weight: bolder;
padding:10px;
border-radius: 1em;
}

.questionButton {
  background-color:#b92b27;
  color:white;
  font-weight: bolder;
  padding:10px;
  border-radius: 1em;
}

.demoButton{
  background-color:#b92b27;
  color:white;
  font-weight: bolder;
  padding:10px;
  border-radius: 1em;
}


/* Float cancel and signup buttons and add an equal width */
.cancelButton,.submitButton {
  display: inline-block;
  padding: 14px 20px;
  background-color:#b92b27;
  margin: 10px;
  color:white;
  font-weight: bolder;
  border-radius: 1em;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: -1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #929397;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid rgb(209, 204, 204);
  width: 30%; /* Could be more or less, depending on screen size */
}



/* Clear floats */
.eraser {
  content: "";
  clear: both;
  display: table;
}

label {
  display: inline-block;
  width: 300px;
  text-align: left;
  font-weight: bold;
  font-size:20px;
}

input{
  width: 500px;
  box-sizing:border-box;
  border: 1px solid #999;
  padding: 1em;
  margin: 10px;
}
