body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.navBar {
  background-color:#edf3f6;
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 20px;
  height: 50px;
}

/* .logo */
.searchBar{
  height: 30px;
  width: 425px;
  border-radius: 3em;
  padding: 1em;
  border: 1px solid #999
}

::placeholder {
  margin-left: 10px;
}

.welcome{
  color:#b92b27;
  font-weight: bolder;
  font-size:larger;
  margin-left: 340px;
}

.logoutButton{
background-color:#b92b27;
color:white;
font-weight: bolder;
padding:10px;
border-radius: 1em;
font-size: medium;
}

.login {
box-sizing: border-box;
line-height: 1;
background-color:#b92b27;
color:white;
font-weight: bolder;
padding:10px;
border-radius: 1em;
text-decoration: none;

}

.signup {
box-sizing: border-box;
line-height: 1;
background-color:#b92b27;
color:white;
font-weight: bolder;
padding:10px;
border-radius: 1em;
text-decoration: none;
}

.questionButton {
  background-color:#b92b27;
  color:white;
  font-weight: bolder;
  padding:10px;
  border-radius: 1em;
  font-size: medium;
}

.demoButton{
  background-color:#b92b27;
  color:white;
  font-weight: bolder;
  font-size: medium;
  padding:10px;
  border-radius: 1em;
  margin-left: 350px;
}


.cancelButton,.submitButton {
  display: inline-block;
  padding: 14px 20px;
  background-color:#b92b27;
  margin: 10px;
  color:white;
  font-weight: bolder;
  border-radius: 1em;
}

.container {
  padding: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #929397;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid rgb(209, 204, 204);
  width: 30%;
}

.eraser {
  content: "";
  clear: both;
  display: table;
}

label {
  display: inline-block;
  width: 300px;
  text-align: left;
  font-weight: bold;
  font-size:20px;
}

input{
  width: 500px;
  box-sizing:border-box;
  border: 1px solid #999;
  padding: 1em;
  margin: 10px;
}

.categorySelector{
  width: 300px;
  height: 40px;
  font-size: medium;
  margin: 10px;
}
